[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

morepath = "*"
itsdangerous = "*"
werkzeug = "*"


[dev-packages]

pylint = "*"
pytest = "*"
ipdb = "*"
webtest = "*"


[requires]

python_version = "3.6"
